<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Banca Web</a>
		</div>

		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li><a href="#"><i class="fa fa-user"></i> {{user.correo}}</a></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><i class="fa fa-power-off"></i> Salir</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="panel panel-default pnlCenter" style="width: 400px;">
	  <div class="panel-heading"><h4 class="t-center">Cambiar Pass</h4></div>
	  <div class="panel-body">
	    <form name="frmLog" ng-submit="mspass()">
			<div class="form-group">
				<input class="form-control" name="pa" type="password" ng-model="pwd" placeholder="Pass actual" required>
				<p class="help-block text-danger"
				ng-show="frmLog.$dirty && frmLog.pa.$errors.required">Este campo es requerido.</p>
			</div>
			<div class="form-group">
				<input class="form-control" name="np" type="password" ng-model="npd" placeholder="Nueva pass" required>
				<p class="help-block text-danger"
				ng-show="frmLog.$dirty && frmLog.np.$errors.required">Este campo es requerido.</p>
			</div>
			<div class="form-group">
				<input class="form-control" name="cp" type="password" ng-model="cpd" placeholder="Confirmacion" required>
				<p class="help-block text-danger"
				ng-show="frmLog.$dirty && frmLog.cp.$errors.required">Este campo es requerido.</p>
			</div>
			<div class="form-group t-center">
				<button class="btn btn-success" style="width: 150px;" type="submit" ng-disabled="frmLog.$invalid">Cambiar</button>
			</div>
		</form>
	  </div>
	</div>
</div>